<div class="container">
    <hr>
    <p>This call will be sent from the server to keep private the connection to HW keys. You can still edit entirely the body of the request.</p>
    <div class="row">
        <div class="col"><div id="user_create_json_editor"></div></div>
        <div class="col">
            <div id="user_create_result">
                <button class="btn btn-outline-light bg-hyperwallet align-content-center" id="usersCreateEditor">Create User</button>
            </div>
        </div>
    </div>
</div>
