{% extends 'hyperwallet/users/index.html.twig' %}
{% block  apiView %}
    <p>here you should see the DropIn for Transfer Methods</p>
{% endblock apiView %}
{% block javascripts %}
    {{ encore_entry_script_tags('hyperwallet-users-edit') }}
{% endblock javascripts %}