{% extends 'paypal/authenticated/base.html.twig' %}
{% block content %}
    <div class="col text-center pb-4">
        <h4>Let's try and subscribe</h4>
        <p>
            Simple subscription button. Just subscribe to our weekly product for 12.99 with 1 free month.
        </p>
        <p>
            <strong>Due to the lack of data storage, I'm not storing the subscription id.</strong>
        </p>
        <p>
            To manage your subscription please visit: <a href="https://www.sandbox.paypal.com/myaccount/autopay" target="_blank"> My Subscriptions</a>
        </p>
    </div>
    <div class="row">
        <div class="col text-center">
            <div id="paypal-button-container"></div>
            <script src="https://www.paypal.com/sdk/js?client-id=AYhKxA8f4GADzZNK5IIMdyYdNBHav80mtm2io4pItCE1_89tyD5rQIm7u5n1Y0m_d97tjl208DrEN11F&vault=true" data-sdk-integration-source="button-factory"></script>
            <script>
                paypal.Buttons({
                    style: {
                        shape: 'pill',
                        color: 'blue',
                        layout: 'vertical',
                        label: 'subscribe'
                    },
                    createSubscription: function(data, actions) {
                        return actions.subscription.create({
                            'plan_id': 'P-0D4765787C8312900L5ITVFA'
                        });
                    },
                    onApprove: function(data, actions) {
                        alert(data.subscriptionID);
                    }
                }).render('#paypal-button-container');
            </script>
            <div id="result-col"></div>
        </div>
    </div>
{% endblock %}

