{% extends 'base.html.twig' %}
{% block title %}Question/Answer App{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-10 offset-1">
            <div class="card mb-3">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-6 text-center">
                                    0
                                    <br>
                                    <small>answers</small>
                                </div>
                                <div class="col-6 text-center">
                                    0
                                    <br>
                                    <small>views</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <h5 class="card-title"><a href="#">[Question Title Placeholder]</a></h5>
                            <p class="card-text text-muted small">asked by [User Placeholder] [Post Time Placeholder]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}