{% extends 'base.html.twig' %}
{% block title %}PayPal PlayGround{% endblock %}
{% block body %}
    <div class="jumbotron">
        <h1>Instructions</h1>
        <ul class="list">
            <li>Login with PayPal</li>
            <li>You will see a dashboard</li>
            <li>we will display your name, email and last 5 transactions</li>
        </ul>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Remember this is sandbox environment</p>
            <span id='cwppButton'></span>
        </div>
    </div>
    <script src="https://www.paypalobjects.com/js/external/connect/api.js" crossorigin="anonymous"></script>
    <script>
        paypal.use( ['login'], function (login) {
            login.render ({
                "appid":"{{ pp_client_id }}",
                "authend":"sandbox",
                "scopes":"email profile address openid",
                "containerid":"cwppButton",
                "responseType":"code id_Token",
                "locale":"en-us",
                "buttonType":"CWP",
                "buttonShape":"pill",
                "buttonSize":"lg",
                "fullPage":"true",
                "returnurl":"http://paypal.devoralive.docker:8086"
            });
        });
    </script>
{% endblock %}