<div class="text-white text-center braintree-font bg-disclaimer">
    This is a <strong>SANDBOX</strong> website, it's not part of <strong>PAYPAL</strong>. It will NEVER move funds nor let you PROCESS transactions with real value.
</div>