<div class="text-white text-center braintree-font bg-disclaimer">
    This is a <strong>PlayGround</strong> website, it's not part of <strong>PayPal</strong>. It will not process transactions with real value.
</div>