<ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle logo" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            PlayGround
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">PayPal Commerce Platform <p class="red-text  d-inline-block">Business</p></h6>
            <a class="dropdown-item bullet" href="{{ path('paypal-index') }}">Connect with PayPal</a>
            <a class="dropdown-item bullet disabled" href="{{ path('paypal-index') }}">Make Payments</a>
            <a class="dropdown-item bullet disabled" href="{{ path('paypal-index') }}">Receive Payments</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">PayPal Commerce Platform <p class="red-text  d-inline-block">Enterprise</p></h6>
            <a class="dropdown-item bullet" href="{{ path('braintree-index') }}">BrainTree</a>
            <a class="dropdown-item bullet" href="#">HyperWallet</a>
        </div>
    </li>
</ul>