.red-text {
    color: red;
}

.bullet:before {
    content:"• ";
}

.logo-paypal {
    max-width: 120px;
}

.logo-braintree {
    max-width: 160px;
}

.logo-hyperwallet {
    max-width: 220px;
}

.paypal-font {
    font-family: paypal-font, sans-serif;
}

.paypal-font-header {
    color: white;
    font-family: paypal-font, sans-serif;
}

.braintree-font {
    color: black;
    font-family: braintree-font, sans-serif;
}

.braintree-font-header {
    color: black;
    font-family: braintree-font, sans-serif;
    font-size: 25px;
}

.hyperwallet-font {
    color: black;
    font-family: hyperwallet-font, sans-serif;
}

.hyperwallet-font-header {
    color: #00AFD0;
    font-family: hyperwallet-font, sans-serif;
    font-size: 25px;
}

.bg-paypal {
    background-color:  #005ea6;
}

.bg-braintree {
    background-color: #202020;
}

.bg-hyperwallet-light {
    background-color: #f1fbfd;
}

.bg-hyperwallet {
    background-color: #00afd0;
}

.bg-nearly-white {
    background-color: #f4f4f4;
}

.bg-gray {
    background-color: #dee2e6;
}

.list-group-scroll {
    max-height: 320px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.ecs-product-image {
    border: black;
    border-style: solid !important;
    border-width: 5px !important;
}

.ecs-product-price {
    color: #005cbf;
    font-size: 42px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 15px;
}
