.red-text {
    color: red;
}

.bullet:before {
    content:"• ";
}

.logo-paypal {
    max-width: 120px;
}

.logo-braintree {
    max-width: 160px;
}

.logo-hyperwallet {
    max-width: 220px;
}

.paypal-font {
    color: snow !important;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-weight: bold;
    font-style: oblique;
}

.bg-paypal {
    background-color:  #005ea6;
}

.bg-braintree {
    background-color: #202020;
}

.bg-nearly-white {
    background-color: #f4f4f4;
}

.list-group-scroll {
    max-height: 320px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}
