<div class="container">
    <hr>
    <p>This call will be sent from the server to keep private the connection to HW keys. You can still edit entirely the body of the request.</p>
    <div class="row">
        <div class="col"><div id="payment_create_json_editor"></div></div>
        <div class="col">
            <button class="btn btn-outline-light bg-hyperwallet align-content-center" id="paymentCreateEditor">Create Payment</button>
            <div id="payment_create_result"></div>
        </div>
    </div>
</div>
