<h6>Now create the billing agreement, we have the BA- token and we are going to use it</h6>
<div class="m-3 text-center">
    <button class="btn btn-success" id="create-billing-agreement-submit">Create Billing Agreement</button>
</div>
<div class="row">
    <div class="col-6">
        <div id="create-billing-agreement-editor" style="height: 500px;"></div>
    </div>
    <div class="col-6">
        <div id="create-billing-agreement-result" style="height: 500px;"></div>
    </div>
</div>
<div id="billing-agreement-create-url" data-billing-agreement-create-url="{{ path("paypal-billing-agreements-index") }}"></div>
