<h6>The customer is ready to buy things without even going to paypal any more. You can repeat this step several times</h6>
<div class="m-3 text-center">
    <button class="btn btn-success" id="reference-transaction-submit">Create Transaction</button>
</div>
<div class="row">
    <div class="col-6">
        <div id="reference-transaction-editor" style="height: 500px;"></div>
    </div>
    <div class="col-6">
        <div id="reference-transaction-result" style="height: 500px;"></div>
    </div>
</div>
<div id="reference-transaction-url" data-reference-transaction-url="{{ path("paypal-billing-agreements-reference-transaction") }}"></div>
