<h6>To create a billing agreement token, pass the agreement details including the description, payer, and billing plan in the JSON request body.</h6>
<div class="row">
    <div class="col">
        <div id="create-token-editor" style="height: 410px;"></div>
    </div>
    <div class="col"></div>
</div>