{% extends 'paypal/anonymous/base.html.twig' %}
{% block content %}
    <div class="jumbotron paypal-font">
        <h1>Instructions</h1>
        <ul class="list">
            <li>Get AccessToken from PayPal</li>
        </ul>
        <h6>Progress</h6>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <p><strong>Now using you PayPal Auth_Code to request Access_Token.</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="alert alert-info" role="alert">
                    <p>{{ auth_token }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p>
                    <strong>
                        The system will exchange the AuthCode with the PayPal's Token Service to get back an AccessToken.
                        This Access token will be stored and used to call UserInfo API.
                    </strong>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <form action="{{ path('paypal-anonymous-auth-token') }}" method="post">
                    <input type="hidden" id="auth_token" name="auth_token" value="{{ auth_token }}">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Go on, call PayPal's API</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}