<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}PlayGround{% endblock %}</title>
    {% block stylesheets %}
        {% include "default/fonts.html.twig" %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block navbar %}{% embed "navbar/navbar.html.twig" %}{% endembed %}{% endblock navbar %}
{% block body %}{% endblock body %}
{% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock javascripts %}
</body>
</html>