<!DOCTYPE html>
<html lang="EN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}PlayGround{% endblock %}</title>
    {% block stylesheets %}
        {% include "default/fonts.html.twig" %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block disclaimer %}{% embed "navbar/disclaimer.html.twig" %}{% endembed %}{% endblock disclaimer %}
{% block navbar %}{% embed "navbar/navbar.html.twig" %}{% endembed %}{% endblock navbar %}
{% block body %}{% endblock body %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script src="https://kit.fontawesome.com/02e32bed4e.js" crossorigin="anonymous"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-K91QYC51HM"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-K91QYC51HM');
    </script>
{% endblock javascripts %}
</body>
</html>