{% extends 'paypal/base.html.twig' %}
{% block content %}
    <div class="jumbotron paypal-font">
        <h1>Your Account</h1>
        <ul class="list">
            <li>We have you logged in. Welcome!</li>
        </ul>
        <h6>Progress</h6>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h5>Welcome back</h5>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <div class="alert alert-success" role="alert">
                    <p><strong>Name: </strong>{{ name }}</p>
                </div>
            </div>
            <div class="col text-center">
                <div class="alert alert-info" role="alert">
                    <p><strong>Email: </strong>{{ email }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>My transactions</h5>
            </div>
        </div>
        {{ dump(transactions.transaction_details) }}
    </div>
{% endblock %}