{% extends 'paypal/base.html.twig' %}
{% block content %}
    <div class="jumbotron paypal-font">
        <h1>Instructions</h1>
        <ul class="list">
            <li>Login with PayPal</li>
            <li>You will see a the process of authentication</li>
            <li>We will display your name, email, last transactions</li>
            <li>You will be able to do Payments and Payouts</li>
        </ul>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Remember this is sandbox environment</p>
            <span id='paypal-button'></span>
        </div>
    </div>
    <script src="https://www.paypalobjects.com/js/external/connect/api.js" crossorigin="anonymous"></script>
    <script>
        paypal.use( ['login'], function (login) {
            login.render ({
                "appid":"{{ PAYPAL_SDK_CLIENT_ID }}",
                "authend":"sandbox",
                "scopes":"email profile address openid",
                "containerid":"paypal-button",
                "responseType":"code id_Token",
                "locale":"en-us",
                "buttonType":"CWP",
                "buttonShape":"pill",
                "buttonSize":"lg",
                "fullPage":"true",
                "returnurl":"{{ absolute_url(path('paypal-anonymous-index')) }}"
            });
        });
    </script>
{% endblock %}