{% extends 'hyperwallet/base.html.twig' %}
{% block content %}
    <div class="hyperwallet-font">
        <section class="jumbotron hyperwallet-font-header">
            <div class="container container-fluid">
                <div class="row justify-content-center">
                    <button class="btn d-inline align-middle">
                        <img class="logo-hyperwallet" src="https://static.eluta.ca/ia/h9/employer_logo_regular_universal_en_97c63eb12ab95ef0b9de832187361a42.svg" />
                    </button>
                    <div class="jumbotron-heading d-inline align-middle">
                        <h1 class="ml-3 align-middle">Let's Play</h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="row justify-content-center">
            <p class="hyperwallet-font-header">Work in progress</p>
        </div>
    </div>
{% endblock %}
