{% extends 'braintree/base.html.twig' %}
{% block content %}
    <section class="jumbotron">
        <div class="container container-fluid">
            <div class="row justify-content-center">
                <button class="btn btn-dark braintree-logo d-inline align-middle"></button>
                <h1 class="jumbotron-heading d-inline align-middle"> Let's Play</h1>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col">
            <ul class="list">
                <li>Payments with BrainTree</li>
                <li>We are going to implement Drop-UI to begin with</li>
                <li>we will display the payment form just below</li>
            </ul>
        </div>
    </div>
{% endblock %}